라인업<br>
<%@picked.each do |l|%>
    <%=@picked.index(l)+1%>.<%=l.name%><br>
<% end %>
<a href="/home/five_inning">5이닝 시뮬레이션</a>
<a href="/home/average">1000회 돌리기</a><br>
<a href="/home/choose">다시 고르기</a>