<div style="margin: 50px">
<table class="ranking_table" style="width: 1350px; margin-left: -74.281px;">
				<colgroup>
					<col span="1" width="30">
					<col span="1" width="87">
				</colgroup>
				<thead>
					<tr>
						<th class="fixed"><span class="number">순위</span></th>
						<th class="fixed"><span class="name">이름</span></th>
						<th sort="hit_rate" style="width: 43px;" class="on">타율</th>
						<th sort="mygamecnt" style="width: 43px;">게임수</th>
						<th sort="bats" style="width: 43px;">타석</th>
						<th sort="bat_cnt" style="width: 43px;">타수</th>
						<th sort="self_point" style="width: 43px;">득점</th>
						<th sort="hit_cnt" style="width: 43px;">총안타</th>
						<th sort="onebase" style="width: 43px;">1루타</th>
						<th sort="twobase" style="width: 43px;">2루타</th>
						<th sort="threebase" style="width: 43px;">3루타</th>
						<th sort="homerun" style="width: 43px;">홈런</th>
						<th sort="total_base" style="width: 43px;">루타</th>
						<th sort="bat_point" style="width: 43px;">타점</th>
						<th sort="steal" style="width: 43px;">도루</th>
						<th sort="steal_fail" style="width: 43px;">도실<br>(도루자)</th>
						<th sort="selfdie" style="width: 43px;">희타</th>
						<th sort="selfdie_fly" style="width: 43px;">희비</th>
						<th sort="fourball" style="width: 43px;">볼넷</th>
						<th sort="fourball_pitch" style="width: 43px;">고의<br>4구</th>
						<th sort="deadball" style="width: 43px;">사구</th>
						<th sort="strikeout" style="width: 43px;">삼진</th>
						<th sort="doubleout" style="width: 43px;">병살</th>
						<th sort="hitbase_rate" style="width: 43px;">장타율</th>
						<th sort="base_rate" style="width: 43px;">출루율</th>
						<th sort="sba" style="width: 43px;">도루<br>성공률</th>
						<th sort="multihit" style="width: 43px;">멀티<br>히트</th>
						<th sort="ops" style="width: 43px;">OPS</th>
						<!--<th sort="phhra">대타<br/>타율</th>-->
						<th sort="kkbb" style="width: 43px;">BB/K</th>
						<th sort="xbh_hit" style="width: 43px;">장타/안타 </th>
					</tr>
				</thead>
				<tbody>
										<tr>
						<th class="fixed">1</th>
						<th class="fixed">이종현(24)</th>
						<td style="width: 43px;" class="on">0.571</td>
						<td style="width: 43px;">3</td>
						<td style="width: 43px;">10</td>
						<td style="width: 43px;">7</td>
						<td style="width: 43px;">4</td>
						<td style="width: 43px;">4</td>
						<td style="width: 43px;">3</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">7</td>
						<td style="width: 43px;">3</td>
						<td style="width: 43px;">4</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">1.000</td>
						<td style="width: 43px;">0.700</td>
						<td style="width: 43px;">1.000</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">1.700</td>
						<!--<td>0.571</td>-->
						<td style="width: 43px;">1.50</td>
						<td style="width: 43px;">0.250</td>
					</tr>
										<tr class="even">
						<th class="fixed">2</th>
						<th class="fixed">김주영(0)</th>
						<td style="width: 43px;" class="on">0.417</td>
						<td style="width: 43px;">4</td>
						<td style="width: 43px;">12</td>
						<td style="width: 43px;">12</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">5</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">9</td>
						<td style="width: 43px;">6</td>
						<td style="width: 43px;">6</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0.750</td>
						<td style="width: 43px;">0.417</td>
						<td style="width: 43px;">1.000</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">1.167</td>
						<!--<td>0.417</td>-->
						<td style="width: 43px;">0.00</td>
						<td style="width: 43px;">0.600</td>
					</tr>
										<tr>
						<th class="fixed">3</th>
						<th class="fixed">권기범(94)</th>
						<td style="width: 43px;" class="on">0.333</td>
						<td style="width: 43px;">5</td>
						<td style="width: 43px;">13</td>
						<td style="width: 43px;">9</td>
						<td style="width: 43px;">4</td>
						<td style="width: 43px;">3</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">4</td>
						<td style="width: 43px;">4</td>
						<td style="width: 43px;">6</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0.444</td>
						<td style="width: 43px;">0.538</td>
						<td style="width: 43px;">1.000</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">0.982</td>
						<!--<td>0.333</td>-->
						<td style="width: 43px;">2.00</td>
						<td style="width: 43px;">0.333</td>
					</tr>
										<tr class="even">
						<th class="fixed">4</th>
						<th class="fixed">박상균(0)</th>
						<td style="width: 43px;" class="on">0.273</td>
						<td style="width: 43px;">6</td>
						<td style="width: 43px;">19</td>
						<td style="width: 43px;">11</td>
						<td style="width: 43px;">8</td>
						<td style="width: 43px;">3</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">6</td>
						<td style="width: 43px;">5</td>
						<td style="width: 43px;">7</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">7</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">3</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0.545</td>
						<td style="width: 43px;">0.579</td>
						<td style="width: 43px;">0.875</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">1.124</td>
						<!--<td>0.273</td>-->
						<td style="width: 43px;">2.67</td>
						<td style="width: 43px;">0.667</td>
					</tr>
										<tr>
						<th class="fixed">5</th>
						<th class="fixed">신현재(0)</th>
						<td style="width: 43px;" class="on">0.200</td>
						<td style="width: 43px;">5</td>
						<td style="width: 43px;">17</td>
						<td style="width: 43px;">10</td>
						<td style="width: 43px;">4</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">5</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">6</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">5</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0.200</td>
						<td style="width: 43px;">0.529</td>
						<td style="width: 43px;">1.000</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">0.729</td>
						<!--<td>0.200</td>-->
						<td style="width: 43px;">1.40</td>
						<td style="width: 43px;">0.000</td>
					</tr>
										<tr class="even">
						<th class="fixed">6</th>
						<th class="fixed">이창민(12)</th>
						<td style="width: 43px;" class="on">0.182</td>
						<td style="width: 43px;">6</td>
						<td style="width: 43px;">22</td>
						<td style="width: 43px;">11</td>
						<td style="width: 43px;">11</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">14</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">9</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">4</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0.182</td>
						<td style="width: 43px;">0.591</td>
						<td style="width: 43px;">1.000</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0.773</td>
						<!--<td>0.182</td>-->
						<td style="width: 43px;">2.75</td>
						<td style="width: 43px;">0.000</td>
					</tr>
										<tr>
						<th class="fixed">7</th>
						<th class="fixed">김경용(0)</th>
						<td style="width: 43px;" class="on">0.167</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">7</td>
						<td style="width: 43px;">6</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">3</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0.333</td>
						<td style="width: 43px;">0.286</td>
						<td style="width: 43px;">0.000</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0.619</td>
						<!--<td>0.167</td>-->
						<td style="width: 43px;">0.33</td>
						<td style="width: 43px;">1.000</td>
					</tr>
										<tr class="even">
						<th class="fixed">7</th>
						<th class="fixed">김형철(28)</th>
						<td style="width: 43px;" class="on">0.167</td>
						<td style="width: 43px;">3</td>
						<td style="width: 43px;">7</td>
						<td style="width: 43px;">6</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">5</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0.333</td>
						<td style="width: 43px;">0.286</td>
						<td style="width: 43px;">1.000</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0.619</td>
						<!--<td>0.167</td>-->
						<td style="width: 43px;">0.20</td>
						<td style="width: 43px;">1.000</td>
					</tr>
										<tr>
						<th class="fixed">8</th>
						<th class="fixed">김성민(32)</th>
						<td style="width: 43px;" class="on">0.143</td>
						<td style="width: 43px;">3</td>
						<td style="width: 43px;">8</td>
						<td style="width: 43px;">7</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">5</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0.143</td>
						<td style="width: 43px;">0.250</td>
						<td style="width: 43px;">1.000</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0.393</td>
						<!--<td>0.143</td>-->
						<td style="width: 43px;">0.20</td>
						<td style="width: 43px;">0.000</td>
					</tr>
										<tr class="even">
						<th class="fixed">9</th>
						<th class="fixed">유승주(0)</th>
						<td style="width: 43px;" class="on">0.000</td>
						<td style="width: 43px;">3</td>
						<td style="width: 43px;">8</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">3</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">3</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">4</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0.000</td>
						<td style="width: 43px;">0.750</td>
						<td style="width: 43px;">1.000</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0.750</td>
						<!--<td>0.000</td>-->
						<td style="width: 43px;">0.00</td>
						<td style="width: 43px;">0.000</td>
					</tr>
										<tr>
						<th class="fixed">9</th>
						<th class="fixed">조재현(0)</th>
						<td style="width: 43px;" class="on">0.000</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">8</td>
						<td style="width: 43px;">4</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">4</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0.000</td>
						<td style="width: 43px;">0.500</td>
						<td style="width: 43px;">1.000</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0.500</td>
						<!--<td>0.000</td>-->
						<td style="width: 43px;">2.00</td>
						<td style="width: 43px;">0.000</td>
					</tr>
										<tr class="even">
						<th class="fixed">9</th>
						<th class="fixed">오주승(2)</th>
						<td style="width: 43px;" class="on">0.000</td>
						<td style="width: 43px;">5</td>
						<td style="width: 43px;">19</td>
						<td style="width: 43px;">9</td>
						<td style="width: 43px;">6</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">11</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">8</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">6</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0.000</td>
						<td style="width: 43px;">0.526</td>
						<td style="width: 43px;">1.000</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0.526</td>
						<!--<td>0.000</td>-->
						<td style="width: 43px;">1.67</td>
						<td style="width: 43px;">0.000</td>
					</tr>
										<tr>
						<th class="fixed">9</th>
						<th class="fixed">전준영(0)</th>
						<td style="width: 43px;" class="on">0.000</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">6</td>
						<td style="width: 43px;">5</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">2</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">1</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">5</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0.000</td>
						<td style="width: 43px;">0.167</td>
						<td style="width: 43px;">1.000</td>
						<td style="width: 43px;">0</td>
						<td style="width: 43px;">0.167</td>
						<!--<td>0.000</td>-->
						<td style="width: 43px;">0.20</td>
						<td style="width: 43px;">0.000</td>
					</tr>
				</tbody>
			</table>
</div>